<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="File1" fileName="output.log" bufferedIO="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="cmdlog" fileName="cmdlog.log" bufferedIO="false">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		
		<File name="bmdebug" fileName="bmdebug.log" bufferedIO="true">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>

	<Loggers>
		<Root level="debug">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File1" />
		</Root>
		<Logger name="se.smokestack.bm.log" additivity="TRUE" level="ALL">
			<AppenderRef ref="cmdlog" level="ALL" />
		</Logger>

		<Logger name="se.smokestack.bm.debug" additivity="TRUE" level="ALL" >
			<AppenderRef ref="bmdebug" level="ALL" />
		</Logger>
	</Loggers>
</Configuration>